
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 0.5rem;
  gap: 1rem;
}

.containerBlur {
    margin-top: 2rem;
    border: 0.5px outset #CC3CFF;
    border-radius: 1.5rem;
    width: 92%;
    min-height: 86vh;
    padding: 2rem 7rem;

    display: flex;
    flex-direction: column;
    gap: 5rem;

    background: linear-gradient(106.51deg, rgba(255, 255, 255, 0.05) 3.44%, rgba(255, 255, 255, 0.02) 64.82%);
    backdrop-filter: blur(15px);
    
    box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.77);
    -webkit-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.77);
    -moz-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.77); 
}


/* NAVBAR */

.nav {
    max-width: 58%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoBackHome {
    text-decoration: none;
    display: flex;
    gap: 0.4rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logoContainer p {
    font-size: 30px;
}
.logoContainer img {
    width: 38px;
}

.navMenu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menuLink {
    padding: 4px;
}
.menuLink:hover {
    color: #F2952C;
}


/* PRINCIPAL */

.containerCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentation {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
}
.flashyText {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.flashyText h1 {
    font-size: 28px;
}

.flashyText h2 {
    line-height: 2.2rem;
    color:#CC3CFF;
}

.flashyText {
    max-width: 50%;
}

.description {
    max-width: 57%;   
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.description p {
    text-align: justify;
}
.btnContact {
    max-width: 14rem;
    background-color: #F2672E;
    color: #fff;
    text-align: center;
    padding: 0.8rem 0;
    border-radius: 5px;
    border: none;
    font-size: 18px;

    box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.77);
    -webkit-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.77);
    -moz-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.77); 
}
.btnContact:hover {
    transform: scale(1.1);
    transition: all 0.8s;
    background-color: #F2952C;
}
.arrowRight {
    padding-left: 8px;
    text-align:start;
}

.containerCharacter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.characterTh {
    width: 90%;
    opacity: 80%;
}


/* FOOTER */

.copyright {
    font-size: 13px;
}


/* RESPONSIVE */

@media(max-width: 1000px) {
    .containerBlur {
        padding: 2rem 4rem; 
    }
}
@media(max-width: 900px) {
    .containerBlur {
        padding: 2rem 1.5rem; 
    }
}

@media(max-width:1228px) {
    .containerBlur {
        width: 60%;
        align-items: center;
    }
    .main {
        align-items: left;
    }
}